* {
  margin: 0;
  padding: 0;
}

body {
  margin: 50px 0;
  & h1 {
    margin: 0 0 25px;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  align-items: center;
}

.todo-list {
  width: 300px;
  & p {
    margin: 10px 0 10px 0;
    border: 0.5px solid black;
    padding: 10px;
  }
}
form {
  text-align: center;
}

.error-input {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.passed-input {
  background-color: green;
}

/* Стиль для инпута */
.input {
  padding: 5px;
  margin: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

/* Стиль для кнопки */
.button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

/* 
Example of how o use filter drop shadow on png elements
.dog-img {
  background-image: url("https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-white-and-brown-cute-dog-animal-png-image_10211052.png");
  width: 200px;
  height: 200px;
  background-size: contain;
  border: none;
  margin: 5px;
  filter: drop-shadow(
    10px 10px 10px rgb(0, 0, 0, 0.5)
  ); /* To make a shadow on border of png
} */
